<mtapp:setting
    id="username"
    label="<__trans phrase="Username">">
<input type="text" name="htn_username" size="20" value="<TMPL_VAR NAME=HTN_USERNAME ESCAPE=HTML>" />
</mtapp:setting>

<mtapp:setting
    id="password"
    label="<__trans phrase="Password">">
<input type="password" name="htn_password" size="20" value="<TMPL_VAR NAME=HTN_PASSWORD ESCAPE=HTML>" />
</mtapp:setting>
